@(message: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>OOSA Reservation</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <link href=@routes.Assets.versioned("stylesheets/jquery.datetimepicker.min.css") rel="stylesheet"> <script src="./jquery.datetimepicker.full.min.js"></script>
        -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    </head>
    <body>

        <div class="container">
            <h2>Pretty print your room schedule</h2>
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="Owner">Owner:</label>
                    <input type="owner" class="form-control" id="owner" placeholder="Enter your name" name="owner">
                </div>
                <div class="form-group">
                    <label for="location">Location:</label>
                    <input type="location" class="form-control" id="location" placeholder="Enter meeting room" name="location">
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date:</label>
                    <input type="startDate" class="form-control" id="startDate" placeholder="Enter start date" name="startDate">
                </div>
                <div class="form-group row">
                    <label for="startDate" class="col-2 col-form-label">Start time</label>
                    <div class="col-10">
                        <input class="form-control" type="datetime-local" value="2019-08-19T13:00:00" id="startDate">
                    </div>
                </div>


                <div style="overflow:hidden;">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="datetimepicker12"></div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker12').datetimepicker({
                                    inline: true,
                                    sideBySide: true,
                                    stepping: 15,
                                    format: "DD.MM.YYYY HH:mm"
                                });
                            });
                    </script>
                </div>

                <div class="form-group">
                    <label for="endDate">End Date:</label>
                    <input type="endDate" class="form-control" id="endDate" placeholder="Enter end date" name="endDate">
                </div>
                <div class="form-group">
                    <label for="duration">Duration:</label>
                    <input type="duration" class="form-control" id="duration" placeholder="Enter end date" name="duration">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="description" class="form-control" id="description" placeholder="Enter description" name="description">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </body>
</html>
